<?xml version="1.0"?>

<launch>

    <arg name="pause" default="true" />
	 <include file="$(find gazebo_ros)/launch/empty_world.launch">
         <arg name="paused" value="$(arg pause)" />
	</include>


  <param name="robot_description" command="$(find xacro)/xacro.py '$(find atlas_description)/robots/atlas_nv_hb.urdf.xacro'"/>


  <node 
			name="spawn_robot" 
			pkg="gazebo_ros" 
			type="spawn_model" 
			respawn="false"
			args="-urdf -model robotproto -param robot_description -z 3.0">
	</node> 


  <rosparam command="load" file="$(find atlas_description)/config/traj_controller.yaml" />


	<node name="contoller_spawner"  pkg="controller_manager"  type="spawner"  respawn="false"
    	output="screen"  ns="/atlas"   
		 
                args="vel_based_pos_traj_controller"
 
         	 />


    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
    </node>
    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


</launch>